// colors
// $primary-color: #00cc66;
$primary-color: #4FCCA3;
$second-color: #003366;
$gray-color: #cccccc;
$black-color: #111111;

// fonts
$font-heading: "Poppins", sans-serif;
$font-text: "Inter", sans-serif;